@import '../../theme/colors.scss';

.key-common {

    .key-row {
        display: flex;

        .key {
            margin-right: 10px;
            margin-bottom: 10px;
            padding-top: 2px;
            padding-left: 6px;
            width: 55px;
            height: 55px;
            border: solid .5px #FFF;
            border-radius: 5px;
            background-color: $light-grey;
            color: #FFF;
            box-shadow: 0 0 6px $medium-purple;
            font-family: 'Roboto';
            font-size: 19px;
            display: flex;
            flex-direction: column;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            &__type-one,
            &__type-five {
                width: 88px;
            }

            &__type-two {
                width: 121px;
            }

            &__type-three {
                width: 154px;
            }

            &__type-four {
                width: 380px;
            }

            &__active {
                background-color: $medium-purple;
            }
        }
    }
}